.customJumbotron {
  /* position: absolute; */
  /* left: 25%; */
  /* width: 50%; */
  background-color: #1E88E5;
  border-radius: 11%;
}

.jumbotronElement {
  text-align: center;
  color: white!important;
}

.jumbotronButton {
  position: relative;
  margin: auto;
  left: 30%;
}

.formCustom {
  position: relative;
  left: 4%;
}

.cantmin {
  position: relative;
  left: 10%;
}
