body {
  margin-top: -20px;
}

.goals {
  height: auto;
  min-height: 930px;
}

.title {
    margin: auto;
    width: 80%;
    text-align: center;
}

.form {
  margin: auto;
  width: 30%;
}

.button {
  margin: auto;
  width: 50%;
}
